
/* google font */
.fira-sans-normal{
  font-family: "Fira Sans", serif;
  font-style: normal;

   
}
.body-color{
  background-color:rgba(241, 241, 243, 1)

}
.body-margine{
  margin: 0 60px;
}
/* nav styles */
.nav-section{
  display:flex;
  align-items: center;
  justify-content: space-between;
  

}
.nav-tytle{
  font-size: 32px;
  font-weight: bold;
}
/* nav-button */
.nav-button{
  font-size: 18px;
  font-weight: 700;
  color: #006A50;
  border-radius:8px ;
  padding: 15px 30px;
  border-color: #006A50;

}
/* banner-section */
.banner{
  display: flex;
  background-color: #C6E4D6;
  justify-content: space-between;
   
   border-radius: 24px;
   padding: 80px 100px;
   
}
/* banner-content */
.banner-content{
  max-width: 610px;
}
.banner-heading-top{
  font-size: 24px;
  font-weight: 500;
  color: rgba(14, 14, 14, 0.4);

}
.banner-heading-middle{
  font-size: 56px;
  font-weight: bold;
  
}

.banner-button{
  background-color: rgba(0, 106, 80, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 500px;
  padding: 17px 34px;
  border-radius: 8px;
  border: none;
}
.banner-image{
  width: 474px ;
 
}
/* The-Vision-of-Future section */
.The-Vision-of-Future{

}
.the-vision{
  font-weight: bold;
  font-size: 40px;
}
.vision-paragraph{
  font-size: 16px;
  font-weight: 400;
}
/* vision-contant */
.vision-contant{
  display: flex;
  justify-content: space-between;
}
.contant-1{
  background-color: rgba(84, 144, 245, 0.2);
}
.contant-2{
  background-color: rgba(198, 228, 214, 1);
}
.contant-3{
  background-color: rgba(247, 235, 207, 1);
}
/* same-for-all-contant */
.all-contant{
  padding: 32px 32px;
  border-radius: 16px;
  max-width: 300px
}
/* for-all-contant-title */
.contant-title{
  font-size: 20px;
  font-weight: bold;

}
.contant-description{
  font-size: 16px;
  font-weight: 400px;
}
/* content-button-section */
.button{
  color: rgba(255, 255, 255, 1);
  padding: 11px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  border: none;
}
/* button-background-color*/
.b1{
background-color: rgba(84, 144, 245, 1);
}
.b2{
background-color: rgba(9, 161, 92, 1);
}
.b3{
background-color: rgba(255, 194, 57, 1);
}
/* challenge-part */
.challenge-part{
  background-color: rgba(255, 255, 255, 1);
  background-image: url('../assets/quote-bg.png');
  background-repeat: no-repeat;
  background-position-x: 23px;
  background-position-y: 25px;
  padding: 48px 24px;
  border-radius: 16px;
  margin-top: 32px;
}
.dr-bio{
  font-size: 16px;
  font-weight: 400px;
}
.dr-title{
  font-size: 20px;
  font-weight: 600;
}
.dr-description{
  font-size: 16px;
  font-weight: 400;
}
/* Recent News section */
.news-title{
 font-weight: bold;
 font-size: 40px;  
}
.news-description{
  font-size: 16px;
  font-weight: 400px;
}
.satalite-1{
  display: flex;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 24px;
  padding: 48px 48px;
  justify-content: space-between;
  max-width: 1280;
  margin-bottom: 30px;
  
}
.satalite-description{
  max-width: 600px;
}
/* satellite image */
.s1-image{
  border-radius: 24px;
}
.s-title{
 font-size: 32px;
 font-weight: bold;
}
.s-description{
  font-size: 16px;
  font-weight: 400px;

}


/* satellite button for all*/
.s-button{
  background-color: rgba(0, 106, 80, 1);
  padding: 13px 26px;
  color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  border: none;
}
/* donate-section */
.donate{


}
.donate-heading{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.donate-description{
  font-size: 16px;
  font-weight: 400px;
  text-align: justify;
  margin: 30px;
}
.donate-amount{
  font-size: 40px;
  font-weight: bold;
  padding: 40px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  margin-left: 24px;

}
.donate-button{
 margin: 152px 184px 104px 104px;
 margin-top: 32px;
 display: flex;
 justify-content: space-between;
 margin-bottom: 32px;

}

.input-amount{
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  margin: 40px;
}
.in-amount{
  font-size: 20px;
  font-weight: 400px;
  padding: 20px 40px;
  text-align: center;
  border: none;
}
.done-button{
  text-align: center;
  margin-top: 20px;
}
/* this is subscribe section */
.subscribe{
background-color:  rgba(198, 228, 214, 1);
padding: 80px 100px;
border-radius: 24px;
margin-top: 20px;
}
.sub-title{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
.sub-pera{
  text-align: center;
   font-size: 16px;
  font-weight: 400;
}
.subscription-box{
  text-align: center;
  
}
.enter-email{
  font-size: 16px;
  font-weight: 400;
  padding: 18px 40px;
  border: none;
  text-align: left;
  border-radius: 8px 0px 0px 8px;
  
}
.subscribe-button{
  font-size: 18px;
  font-weight: 600;
  padding: 17px 34px;
  background-color: rgba(0, 106, 80, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 0px 8px 8px 0px;
}
/* color section */
.dark-100{
  color:rgba(14, 14, 14, 1);
}
.dark-70{
  color: rgba(14, 14, 14, 0.7);
}
.dark-80{
  color: rgba(14, 14, 14, 0.8);
}
.ta-ka{
  background-color: rgba(198, 228, 214, 1);
}
/* hover effect */
.subscribe-button:hover,.donate-amount:hover,.s-button:hover,.button:hover,.banner-button:hover,.nav-button:hover{
  background-color: aqua;
  color: green;}


