
/* google font */
.fira-sans-normal{
  font-family: "Fira Sans", serif;
  font-style: normal;

   
}
.body-color{
  background-color:rgba(241, 241, 243, 1)

}
.body-margine{
  margin: 0 60px;
}
/* nav styles */
.nav-section{
  display:flex;
  align-items: center;
  justify-content: space-between;
  

}
.nav-tytle{
  font-size: 32px;
  font-weight: bold;
}
/* nav-button */
.nav-button{
  font-size: 18px;
  font-weight: 700;
  color: #006A50;
  border-radius:8px ;
  padding: 15px 30px;
  border-color: #006A50;

}
/* banner-section */
.banner{
  display: flex;
  background-color: #C6E4D6;
  justify-content: space-between;
   
   border-radius: 24px;
   padding: 80px 100px;
   
}
/* banner-content */
.banner-content{
  max-width: 610px;
}
.banner-heading-top{
  font-size: 24px;
  font-weight: 500;
  color: rgba(14, 14, 14, 0.4);

}
.banner-heading-middle{
  font-size: 56px;
  font-weight: bold;
  
}

.banner-button{
  background-color: rgba(0, 106, 80, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 500px;
  padding: 17px 34px;
  border-radius: 8px;
  border: none;
}
.banner-image{
  width: 474px ;
 
}


/* color section */
.dark-100{
  color:rgba(14, 14, 14, 1);
}

