
/* google font */
.fira-sans-normal{
  font-family: "Fira Sans", serif;
  font-style: normal;
}
/* nav styles */
.nav-section{
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 140px;

}
.nav-tytle{
  font-size: 32px;
  font-weight: bold;
}
/* nav-button */
.nav-button{
  font-size: 18px;
  font-weight: 700;
  color: #006A50;
  border-radius:8px ;
  padding: 15px 30px;
  background-color: white;
  border-color: #006A50;
}